html {
    scroll-behavior: smooth;
}

body{
    background-color: #282828; ;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background-image: linear-gradient(150deg, black, #9e00ff);
    background-size: 120% 120%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

header  h1 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: "Raleway", sans-serif;

}

header a:hover h1 {
    color: #9443d8;
    border: 2px solid #9443d8 ;
}

nav ul li a {
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: 0.2s;
}

nav ul li a:hover {
    background-color: #9443d8;
    color: white;
    border-radius: 50px;
}

.home {
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.perfil {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .perfil h1 {
    font-family: "Raleway",sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .perfil p {
    font-family: "Raleway", sans-serif ;
    font-size: 24px;
    margin-bottom: 10px;

}

.home .perfil ul {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.home .perfil ul i {
    border: 1px solid white ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;

}

.home .perfil ul i:hover {
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.1);
}

.home .foto {
    background-image: linear-gradient(to right, #8A35C8, #18C063, #00EEA2);
    max-width: 450px;
    border-radius: 50%;

}

.home .foto img {
    width: 100%;
    border-radius: 50%;
}

.projetos {
    padding: 70px 0;

}

.projetos > h2 {
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projetos .container-projeto {
    display: flex;
    gap:  20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto {
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo {
    display: block;
}

.projeto img {
    height: 100%;
}

.projeto a h3 {
    background-color: #040203 ;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

.projetos .projeto .informacoes-projeto {
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
}

.projetos .projeto:hover .informacoes-projeto {
    opacity: 0.7;
    background-color: black;
    
    
}

.projetos .btn-mostrar-projetos {
    background: none;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
    background-color: #9443d8;
    transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
    display: none;
}